body {
    background-color: #ffffff; // 背景を白に設定
    overflow-x: hidden; // 横スクロールバーを非表示にする
  }
  
  header {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    color: #333;
    padding: 10px 0;
    text-align: center;
    z-index: 999;
  
    .hamburger-btn, .mode-btn {
      display: inline-block;
      width: 5%;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      border: 1px solid transparent;
      margin-left: 15px;
      margin-right: 15px;
      padding: .2rem .2rem;
      font-size: 0.75rem;
      border-radius: 1rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      color: #333;
      background-color: #c1c1c1;
      border-color: #cdcdcd;
    }
  }
  
  /* サイドバーのスタイル */
  .sidebar {
    position: fixed;
    left: -250px;
    transition: left 0.3s;
    top: 50px;
    bottom: 0;
    background-color: #ababab;
    padding: 20px;
    width: 150px;
    z-index: 1000;
  
    .sidebar-content {
      position: sticky;
      top: 20px;
    }
  }
  
  /* モードコンテンツのスタイル */
  .mode-content {
    position: fixed;
    right: -350px;
    transition: right 0.3s;
    top: 0;
    bottom: 0;
    background-color: #ababab;
    padding: 20px;
    width: 350px;
    z-index: 1000;
  }
  
  /* サイドバーがアクティブなときのスタイル */
  .sidebar-active .sidebar {
    left: 0;
  }
  
  .sidebar-active .main-content {
    margin-left: 250px;
    margin-top: 50px;
  }
  
  /* モードコンテンツがアクティブなときのスタイル */
  .mode-active .mode-content {
    right: 0;
  }
  
  .mode-active .main-content {
    margin-right: 350px;
    margin-top: 50px;
  }
  