extends e-book-layout

block extraHead
  link(rel='stylesheet', href='/stylesheets/reader.css')

block sidebarContent
  a(href='/bookDisplay') 本一覧

block mainWindowContent
  .col-8.main-content
    .card
      .card-body
        h2.title #{book.title}
        .content
          p #{book.content}
  .col-3.mode-content
    .card
      .card-body
        h3.title ここはモード欄
        .content
          p 目次モード
          p メモモード
          p 辞書モード
